
body {
  background-color: #f8fafc;
  color: #0f172a;
}

.print-only {
  display: none;
}

@media print {
  .no-print {
    display: none !important;
  }
  
  .print-only {
    display: block !important;
  }

  body {
    background: white !important;
    padding: 0 !important;
    margin: 0 !important;
  }

  main {
    margin: 0 !important;
    padding: 0 !important;
    max-width: none !important;
  }

  @page {
    margin: 1cm;
  }
}
